@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  outline: none;
  text-decoration: none;
}

.header {
  position: relative;
  height: 40vh;
  overflow: hidden;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .content {
  width: 80%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .content h1 {
  text-align: center;
}

.header .content .filters {
  width: 100%;
  max-width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #c1c1c1;
}

.header .content .filters .categories,
.header .content .filters .sorting {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .background {
  z-index: -10;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.header .background img {
  -webkit-filter: blur(1px);
          filter: blur(1px);
  width: 100%;
}

.header .background .layout {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
  .header {
    height: 50vh;
  }
  .header .content .filters {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .content .filters .categories,
  .header .content .filters .sorting {
    width: 100%;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    padding-bottom: 5px;
  }
}

.input {
  position: relative;
  width: 100%;
  max-width: 650px;
  height: 40px;
}

.input input {
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 23px;
}

.input .searchBtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
}

.input .searchBtn img {
  margin: 3px;
  height: 34px;
  width: 34px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.input .searchBtn:hover img {
  margin: 0;
  height: 40px;
  width: 40px;
}

.select {
  position: relative;
}

.select select {
  cursor: pointer;
  margin-left: 8px;
  font-size: 14px;
  border-radius: 0;
  border: none;
  padding: 5px;
  width: 150px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  color: #333;
}

.select select option {
  border-radius: 0;
}

.select .expand_more {
  position: absolute;
  top: 0;
  left: 130px;
  width: 30px;
  height: 30px;
}

.searchPage {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.searchPage .numOfBooks,
.searchPage .loadMoreBtn {
  margin: 20px 0;
}

.searchPage .booksList {
  width: 80%;
  height: 100%;
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
}

.card {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 300px;
  height: 500px;
  background: #e5e5e5;
  -webkit-box-shadow: 0px 0px 20px #333;
          box-shadow: 0px 0px 20px #333;
  margin: 20px 10px;
  padding: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.card:hover {
  background: white;
  -webkit-box-shadow: 0px 0px 30px #1e1e1e;
          box-shadow: 0px 0px 30px #1e1e1e;
}

.card .imgBox {
  height: 290px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.card .imgBox img {
  width: 200px;
  max-height: 290px;
  -webkit-box-shadow: 0px 0px 15px #333;
          box-shadow: 0px 0px 15px #333;
}

.card .information {
  padding-left: 15px;
}

.card .information .category,
.card .information .authors {
  color: #333;
  font-weight: 300;
  font-size: 14px;
  padding: 5px 0;
}

.card .information .name {
  font-weight: 700;
  font-size: 16px;
  color: #000;
}

.loadMoreBtn {
  cursor: pointer;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  padding: auto;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 20px #333;
          box-shadow: 0px 0px 20px #333;
  font-size: 25px;
  color: #000;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loadMoreBtn:hover {
  color: #333;
  letter-spacing: 5px;
  -webkit-box-shadow: 0px 0px 30px #1e1e1e;
          box-shadow: 0px 0px 30px #1e1e1e;
}

.bookContainer {
  width: 100%;
  min-height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.bookContainer .imgBox {
  min-width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f3f3f3;
}

.bookContainer .imgBox img {
  height: 80%;
  max-height: 400px;
  max-width: 80%;
  -webkit-box-shadow: 0px 0px 15px #333;
          box-shadow: 0px 0px 15px #333;
}

.bookContainer .infotrmation {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
}

.bookContainer .infotrmation .categories {
  color: #333;
  font-size: 12px;
  padding-bottom: 20px;
}

.bookContainer .infotrmation .name {
  font-weight: 400;
}

.bookContainer .infotrmation .author span {
  text-decoration: underline;
  color: #9a9a9a;
  font-size: 12px;
}

.bookContainer .infotrmation .description {
  margin-top: 10px;
  max-width: 80%;
  min-height: 50px;
  border: #c5c4c4 solid 1px;
  padding: 10px;
  font-size: 15px;
}

#loading-bar-spinner.spinner {
  left: 50%;
  margin-left: -20px;
  top: 50%;
  margin-top: -20px;
  position: absolute;
  z-index: 19 !important;
  -webkit-animation: loading-bar-spinner 400ms linear infinite;
          animation: loading-bar-spinner 400ms linear infinite;
}

@media (max-width: 768px) {
  #loading-bar-spinner.spinner {
    top: 60%;
  }
}

#loading-bar-spinner.spinner .spinner-icon {
  width: 40px;
  height: 40px;
  border: solid 4px transparent;
  border-top-color: #333 !important;
  border-left-color: #333 !important;
  border-radius: 50%;
}

@-webkit-keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes loading-bar-spinner {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=main.css.map */